<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Password Manager</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/welcome.css" crossorigin="anonymous">
    <script src="/js/jquery-2.2.0.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
</html>
<body>

<div class="jumbotron">
    <div class="container">
        {% block jumbotron %}{% endblock %}
    </div>
</div>

<div class="container marketing">
    {% block content %}{% endblock %}

    <hr>

    {% include "template/footer.twig" %}
</div>
</body>