<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Password Manager</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/welcome.css" crossorigin="anonymous">
    <script src="/js/jquery-2.2.0.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
</html>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container marketing">
    {% block content %}{% endblock %}

    <hr>

    {% include "template/footer.twig" %}
</div>
</body>