{# Подключаем основной темплит http://twig.sensiolabs.org/doc/templates.html#template-inheritance #}
{% extends "template/basic.twig" %}

{# В блок title добавляем значение #}
{% block title %}Registration{% endblock %}
{# В блок breadcrumbs добавляем значение #}
{% block breadcrumb %}
    <li class="active">Registration</li>
{% endblock %}

{# В блок content добавляем значение #}
{% block content %}
    {# Выводим переменную title #}
    <h1>{{ title }}</h1>
    <hr/>
    {# Выводим див на 4 колонки http://getbootstrap.com/css/#grid #}
    <div class="row">
        <div class="col-md-4">
            {# Условный оператор if http://twig.sensiolabs.org/doc/tags/if.html #}
            {% if registration == true %}
                {# Выводим алерт сообщение http://getbootstrap.com/components/#alerts #}
                <div class="alert alert-success" role="alert">
                    {# Добавляем урл для роута login http://silex.sensiolabs.org/doc/providers/url_generator.html #}
                    <strong>Well done!</strong> You successfully registered <a href="{{ path('login') }}" class="alert-link">you can login</a>.
                </div>
            {%  endif  %}
            {% if userNameValidate == false %}
                <div class="alert alert-danger" role="alert">
                    <strong>Sorry, the "Email address" field must contain from 6 to 20 characters.</strong>
                </div>
            {%  endif  %}
            {# Выводим форму http://getbootstrap.com/css/#forms #}
            <form class="form-registration" method="post">
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>
                <button class="btn btn-primary" type="submit">Registration</button>
            </form>
        </div>
    </div>
{% endblock %}