{% extends "template/basic.twig" %}

{% block title %}Registration{% endblock %}
{% block breadcrumb %}
    <li class="active">{{ 'registration'|trans }}</li>
{% endblock %}

{% block content %}<h1>{{ title }}</h1>{% endblock %}